@import url("http://fonts.googleapis.com/css?family=Exo+2:500,100italic,800italic");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Any defaults that should be used across all of the stylesheets.
 */
/**
 * Clearfix.
 */
/* line 27, ../sass/_defaults.scss */
.clearfix:before {
  content: " ";
  display: table;
}

/* line 32, ../sass/_defaults.scss */
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/**
 * For IE 6/7 only, include this rule to trigger hasLayout and contain floats.
 */
/* line 39, ../sass/_defaults.scss */
.clearfix {
  *zoom: 1;
}

/**
 * Responsive classes.
 */
/* line 46, ../sass/_defaults.scss */
.mobile {
  display: block;
}

/* line 50, ../sass/_defaults.scss */
.tablet {
  display: none;
}
/* line 53, ../sass/_defaults.scss */
.tablet.mobile {
  display: block;
}

/* line 58, ../sass/_defaults.scss */
.computer {
  display: none;
}
/* line 61, ../sass/_defaults.scss */
.computer.mobile {
  display: block;
}

@media (min-width: 37.5em) {
  /* line 67, ../sass/_defaults.scss */
  .mobile {
    display: none;
  }

  /* line 71, ../sass/_defaults.scss */
  .tablet {
    display: block;
  }
  /* line 74, ../sass/_defaults.scss */
  .tablet.mobile {
    display: block;
  }
  /* line 78, ../sass/_defaults.scss */
  .tablet.computer {
    display: block;
  }

  /* line 83, ../sass/_defaults.scss */
  .computer {
    display: none;
  }
  /* line 86, ../sass/_defaults.scss */
  .computer.mobile {
    display: none;
  }
}
@media (min-width: 55em) {
  /* line 93, ../sass/_defaults.scss */
  .mobile {
    display: none;
  }

  /* line 97, ../sass/_defaults.scss */
  .tablet {
    display: none;
  }
  /* line 100, ../sass/_defaults.scss */
  .tablet.mobile {
    display: none;
  }

  /* line 105, ../sass/_defaults.scss */
  .computer {
    display: block;
  }
  /* line 108, ../sass/_defaults.scss */
  .computer.mobile {
    display: block;
  }
  /* line 112, ../sass/_defaults.scss */
  .computer.tablet {
    display: block;
  }
}
/* line 118, ../sass/_defaults.scss */
.separator {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #cccccc;
  height: 0px;
  margin-bottom: 2em;
  width: 100%;
}

@media (min-width: 55em) {
  /* line 127, ../sass/_defaults.scss */
  .separator {
    display: none;
  }
}
/**
 * Fonts of the site is defined here.
 */
/* line 7, ../sass/_fonts.scss */
body {
  color: #37373b;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Verdana" sans-serif;
  font-weight: 300;
}

/* line 13, ../sass/_fonts.scss */
p {
  font-size: 1.05em;
  letter-spacing: 0.75px;
  line-height: 1.5;
  margin-bottom: 0.65em;
  text-align: justify;
}

/* line 21, ../sass/_fonts.scss */
h1 {
  color: #37373b;
  font-family: "Exo 2", "Arial", "Verdana", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.65em;
  word-wrap: break-word;
}
/* line 29, ../sass/_fonts.scss */
h1.content-title {
  width: 92.5%;
}

/* line 34, ../sass/_fonts.scss */
h2 {
  color: #37373b;
  font-family: "Exo 2", "Arial", "Verdana", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.65em;
  word-wrap: break-word;
}
/* line 42, ../sass/_fonts.scss */
h2.content-title {
  font-size: 2.5em;
  width: 92.5%;
}
/* line 47, ../sass/_fonts.scss */
h2.block-title {
  font-size: 1.65em;
}

/* line 52, ../sass/_fonts.scss */
h3 {
  color: #37373b;
  font-family: "Exo 2", "Arial", "Verdana", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.65em;
  word-wrap: break-word;
}
/* line 60, ../sass/_fonts.scss */
h3.expose-title {
  color: #fbfbf8;
  font-size: 3.25em;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0;
  padding: 35px 0 0 65px;
}
/* line 70, ../sass/_fonts.scss */
h3.expose-subtitle {
  color: #fbfbf8;
  font-size: 2.15em;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 0;
  padding: 8px 0 0 95px;
}

/* line 80, ../sass/_fonts.scss */
h4 {
  color: #37373b;
  font-family: "Exo 2", "Arial", "Verdana", sans-serif;
  font-weight: 500;
  margin-bottom: 0.65em;
  word-wrap: break-word;
}

/* line 89, ../sass/_fonts.scss */
.full-display h2 {
  font-size: 1.75em;
}
/* line 93, ../sass/_fonts.scss */
.full-display h3 {
  font-size: 1.25em;
  color: #f44e4e;
}

/* line 100, ../sass/_fonts.scss */
span.post-number {
  color: #eeeeee;
  font-family: "Exo 2", "Arial", "Verdana", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

/* line 108, ../sass/_fonts.scss */
::selection {
  background: #eeeeee;
  color: #f44e4e;
}

/**
 * Layout of the site is defined here.
 */
/* line 5, ../sass/_layout.scss */
body {
  background: #eeeeee url(../images/background.png) repeat;
}

/* line 9, ../sass/_layout.scss */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* line 14, ../sass/_layout.scss */
.column {
  *zoom: 1;
  max-width: 60em;
  _width: 60em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.column:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 37.5em) {
  /* line 21, ../sass/_layout.scss */
  .column {
    max-width: 37.5em;
    padding-left: 1.875em;
    padding-right: 1.875em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 55em) {
  /* line 30, ../sass/_layout.scss */
  .column {
    max-width: 60em;
    padding-left: 1.875em;
    padding-right: 1.875em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 36, ../sass/_layout.scss */
.container {
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  padding: 30px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 44, ../sass/_layout.scss */
#header {
  background: #ffffff;
  min-height: 100px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px 5px;
}
/* line 51, ../sass/_layout.scss */
#header .navigation {
  float: right;
}

/* line 56, ../sass/_layout.scss */
#logo a {
  background: url(../images/logo.png);
  float: left;
  height: 94px;
  left: 15px;
  position: relative;
  width: 136px;
}
/* line 64, ../sass/_layout.scss */
#logo a:hover {
  background: url(../images/logo-red.png);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 72, ../sass/_layout.scss */
#expose {
  display: none;
}

@media (min-width: 37.5em) {
  /* line 77, ../sass/_layout.scss */
  #expose {
    border-bottom: 2px solid #dddddd;
    display: block;
    min-height: 175px;
    background: url(../images/noise.png), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #556270), color-stop(100%, #92a5ba));
    background: url(../images/noise.png), -webkit-linear-gradient(left, #556270, #92a5ba);
    background: url(../images/noise.png), -moz-linear-gradient(left, #556270, #92a5ba);
    background: url(../images/noise.png), -o-linear-gradient(left, #556270, #92a5ba);
    background: url(../images/noise.png), linear-gradient(left, #556270, #92a5ba);
  }
}
/* line 85, ../sass/_layout.scss */
#main {
  margin-top: 40px;
}

@media (min-width: 55em) {
  /* line 90, ../sass/_layout.scss */
  #main-content {
    width: 62.5%;
    float: left;
    margin-right: 0%;
  }

  /* line 94, ../sass/_layout.scss */
  #sidebar-right {
    width: 32.8125%;
    float: right;
    margin-right: 0;
  }
}
/* line 99, ../sass/_layout.scss */
#footer {
  border-top: 2px solid #dddddd;
  margin-top: 30px;
  min-height: 60px;
  background: url(../images/noise.png), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #36363a), color-stop(100%, #36363a));
  background: url(../images/noise.png), -webkit-linear-gradient(left, #36363a, #36363a);
  background: url(../images/noise.png), -moz-linear-gradient(left, #36363a, #36363a);
  background: url(../images/noise.png), -o-linear-gradient(left, #36363a, #36363a);
  background: url(../images/noise.png), linear-gradient(left, #36363a, #36363a);
}
/* line 105, ../sass/_layout.scss */
#footer img.copyright {
  border: none;
  padding: 20px 0 0 30px;
}

/**
 * Navigation of the site is defined here.
 */
/* line 5, ../sass/_navigation.scss */
a {
  color: #f44e4e;
  text-decoration: underline;
}
/* line 9, ../sass/_navigation.scss */
a.active, a:active, a:hover {
  color: #f44e4e;
  text-decoration: none;
}

/* line 17, ../sass/_navigation.scss */
#main-menu #pull-menu {
  background: url(../images/list.png) no-repeat center center;
  cursor: pointer;
  height: 24px;
  padding: 2.25em;
  width: 32px;
}
/* line 25, ../sass/_navigation.scss */
#main-menu ul.menu {
  display: none;
  list-style-type: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 100px;
  width: 100%;
}
/* line 34, ../sass/_navigation.scss */
#main-menu ul.menu li {
  background: #37373b;
  border-bottom: 2px solid #656565;
  margin: 0;
}
/* line 39, ../sass/_navigation.scss */
#main-menu ul.menu li:last-of-type {
  border-bottom: none;
}
/* line 43, ../sass/_navigation.scss */
#main-menu ul.menu li a {
  color: #ffffff;
  display: block;
  font-size: 1.3em;
  height: 2em;
  line-height: 2em;
  padding: 0 3.75em;
  text-align: center;
  text-decoration: none;
}
/* line 53, ../sass/_navigation.scss */
#main-menu ul.menu li a.active, #main-menu ul.menu li a:active, #main-menu ul.menu li a:hover {
  background: #f44e4e;
}
@media (min-width: 37.5em) {
  /* line 62, ../sass/_navigation.scss */
  #main-menu #pull-menu {
    display: none;
  }
  /* line 66, ../sass/_navigation.scss */
  #main-menu ul.menu {
    display: block;
    list-style-type: none;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
  }
  /* line 74, ../sass/_navigation.scss */
  #main-menu ul.menu li {
    background: none;
    border-bottom: none;
    float: left;
    margin: 0;
  }
  /* line 80, ../sass/_navigation.scss */
  #main-menu ul.menu li a {
    color: #37373b;
    display: block;
    font-size: 1.3em;
    height: 96px;
    line-height: 96px;
    padding: 0 30px;
    text-decoration: none;
  }
  /* line 89, ../sass/_navigation.scss */
  #main-menu ul.menu li a.active, #main-menu ul.menu li a:active, #main-menu ul.menu li a:hover {
    background: none;
    border-bottom: 4px solid #f44e4e;
    text-decoration: none;
  }
}

/* line 101, ../sass/_navigation.scss */
h1 a, h2 a, h3 a, h4 a {
  color: #37373b;
  text-decoration: none;
  transition: color .2s ease-out;
}
/* line 106, ../sass/_navigation.scss */
h1 a.active, h1 a:active, h1 a:hover, h2 a.active, h2 a:active, h2 a:hover, h3 a.active, h3 a:active, h3 a:hover, h4 a.active, h4 a:active, h4 a:hover {
  color: #f44e4e;
  text-decoration: none;
}

/* line 114, ../sass/_navigation.scss */
span.date-time a, span.tags a {
  color: #37373b;
  text-decoration: none;
  transition: color .2s ease-out;
}
/* line 119, ../sass/_navigation.scss */
span.date-time a.active, span.date-time a:active, span.date-time a:hover, span.tags a.active, span.tags a:active, span.tags a:hover {
  color: #f44e4e;
}

/* line 125, ../sass/_navigation.scss */
button, .button {
  background: #f44e4e;
  border: 2px solid #eeeeee;
  color: #ffffff;
  display: inline-block;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0.9px;
  padding: 10px 30px;
  text-decoration: none;
  transition: background .2s ease-out, border .2s ease-out;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 139, ../sass/_navigation.scss */
button.active, button:active, button:hover, .button.active, .button:active, .button:hover {
  background: #ff3b3b;
  border: 2px solid #dddddd;
  color: #ffffff;
  text-decoration: none;
}

/**
 * Content of the site is defined here.
 */
/* line 5, ../sass/_content.scss */
.blog {
  padding-bottom: 0px;
  position: relative;
}
/* line 9, ../sass/_content.scss */
.blog .image {
  background: #f5f5f5;
  border: 5px solid #f5f5f5;
  margin-bottom: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 15, ../sass/_content.scss */
.blog .image img {
  margin: 0.5em 2% 0;
  width: 96%;
}
/* line 20, ../sass/_content.scss */
.blog .image .details {
  border: none;
  margin: 0;
}
/* line 24, ../sass/_content.scss */
.blog .image .details .size {
  float: right;
  font-style: italic;
}
/* line 31, ../sass/_content.scss */
.blog .post-number {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 37, ../sass/_content.scss */
.blog .details {
  background: #f5f5f5;
  border-top: 1px solid #dddddd;
  margin: 20px -30px 0;
  padding: 15px 30px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/* line 44, ../sass/_content.scss */
.blog .details .date-time {
  font-weight: bold;
}
/* line 49, ../sass/_content.scss */
.blog .details .tags {
  display: none;
}
@media (min-width: 37.5em) {
  /* line 54, ../sass/_content.scss */
  .blog .details .tags {
    display: block;
    float: right;
    font-style: italic;
  }
}

/* line 64, ../sass/_content.scss */
.owl-carousel .item {
  max-height: 275px;
}
/* line 67, ../sass/_content.scss */
.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 74, ../sass/_content.scss */
img {
  border: 1px solid #dddddd;
}
/* line 77, ../sass/_content.scss */
img.full-width {
  width: 100%;
}

/* line 82, ../sass/_content.scss */
a img:hover {
  opacity: 0.85;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 89, ../sass/_content.scss */
span.center {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* line 96, ../sass/_content.scss */
ul {
  margin: 8px 0 8px 25px;
  list-style-type: square;
}
/* line 100, ../sass/_content.scss */
ul li {
  margin: 8px 0;
}

/**
 * Form styling.
 */
/* line 6, ../sass/_forms.scss */
form.inline {
  margin-top: 2em;
}
/* line 10, ../sass/_forms.scss */
form label {
  display: block;
  font-style: italic;
}
/* line 15, ../sass/_forms.scss */
form input[type=text], form textarea {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 400;
  margin: 1em 0;
  padding: 8px 12px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  -webkit-box-shadow: 0 0 0 5px #f7f7f7, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
  -moz-box-shadow: 0 0 0 5px #f7f7f7, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
  box-shadow: 0 0 0 5px #f7f7f7, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 27, ../sass/_forms.scss */
form input[type=text]:hover, form textarea:hover {
  -webkit-box-shadow: 0 0 0 5px #f0f0f0, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
  -moz-box-shadow: 0 0 0 5px #f0f0f0, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
  box-shadow: 0 0 0 5px #f0f0f0, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset;
}
/* line 32, ../sass/_forms.scss */
form textarea {
  min-height: 10em;
}
/* line 36, ../sass/_forms.scss */
form:after {
  clear: both;
  content: " ";
  display: table;
}
