/**
 * Any defaults that should be used across all of the stylesheets.
 */

$default-background: #eeeeee;
$default-link-color: #f44e4e;
$default-link-hover-color: #f44e4e;
$default-button-background: #f44e4e;
$default-button-hover-background: #f44e4e;
$default-color: #37373b;
$default-hover-color: #f44e4e;

$default-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Verdana" sans-serif;

$total-columns: 16;
$column-width: 3.75em;
$gutter-width: 0em;
$grid-padding: 1.875em;

$tablet: 10;
$computer: 55em 16;

/**
 * Clearfix.
 */
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  @include clear-after;
}

/**
 * For IE 6/7 only, include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/**
 * Responsive classes.
 */
.mobile {
  display: block;
}

.tablet {
  display: none;

  &.mobile {
    display: block;
  }
}

.computer {
  display: none;

  &.mobile {
    display: block;
  }
}

@include at-breakpoint($tablet) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;

    &.mobile {
      display: block;
    }

    &.computer {
      display: block;
    }
  }

  .computer {
    display: none;

    &.mobile {
      display: none;
    }
  }
}

@include at-breakpoint($computer) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;

    &.mobile {
      display: none;
    }
  }

  .computer {
    display: block;

    &.mobile {
      display: block;
    }

    &.tablet {
      display: block;
    }
  }
}
