/**
 * Fonts of the site is defined here.
 */

@import url("http://fonts.googleapis.com/css?family=Oswald:300,400,700");

body {
  color: $default-color;
  font-family: $default-font-family;
  font-weight: 300;
}

p {
  font-size: 1.05em;
  letter-spacing: 0.75px;
  line-height: 1.5;
  margin-bottom: 0.65em;
  text-align: justify;
}

h1 {
  color: $default-color;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.65em;

  &.content-title {
    width: 92.5%;
  }
}

h2 {
  color: $default-color;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.65em;

  &.content-title {
    font-size: 2.5em;
    width: 92.5%;
  }

  &.block-title {
    font-size: 1.65em;
  }
}

h3 {
  color: $default-color;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.65em;

  &.expose-title {
    color: #fbfbf8;
    font-size: 2.85em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 44px 0 0 90px;
  }

  &.expose-subtitle {
    color: #fbfbf8;
    font-size: 2.15em;
    font-weight: 300;
    margin-bottom: 0;
    padding: 8px 0 0 110px;
  }
}

h4 {
  color: $default-color;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-weight: 400;
  margin-bottom: 0.65em;
}

.full-display {
  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
    color: $default-link-color;
  }
}

span {
  &.post-number {
    color: #eeeeee;
    font-family: "Oswald", "Arial", "Verdana", sans-serif;
    font-size: 2.25em;
    font-weight: 700;
  }
}
