/**
 * Form styling.
 */

form {

  label {
    font-style: italic;
  }

  input[type=text], textarea {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    font-size: 0.8em;
    font-weight: 400;
    margin: 10px 0;
    padding: 8px 12px;
    @include border-radius(5px, 5px);
    @include box-shadow(0 0 0 5px #f7f7f7, rgba(0, 0, 0, 0.1) 0 0 3px 1px inset);

    &.full-width {
      width: 100%;
    }
  }
}
