#chat .messages .columns:not(:last-child) {
  margin-bottom: 0rem;
}

.message {
  width: fit-content;

  @include tablet {
    max-width: 80%;
  }

  &.visitor {
    background-color: $primary;

    .message-body {
      color: $white;
    }
  }

  &.is-pulled-right {
    margin-bottom: 0.75rem;
  }

  .message-body {
    a {
      font-weight: bold;
    }

    a:hover, a:active {
      color: $white;
    }
  }
}

#chat .responses {
  margin-top: 2rem;
  min-height: 3.75rem;

  a {
    margin: 2px 5px;
  }
}

#chat-scroll-indicator {
  font-style: italic;
  color: $grey;

  &.moved {
    position: absolute;
    bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}