#chat .columns:not(:last-child) {
  margin-bottom: 0.5rem;
}

.message {
  width: fit-content;

  &.visitor {
    background-color: $primary;

    .message-body {
      color: $white;
    }
  }
}

#chat .responses {
  margin-top: 2rem;
  min-height: 3.75rem;

  a {
    margin: 0 5px;
  }
}