/* Colors */
$body-background-color: rgb(246,247,251);
$primary: rgb(16,127,201);
$text: rgb(32,27,33);

/* Fonts */
$title-family-sans-serif: "Averia Sans Libre", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* Message */
$message-body-padding: 0.25rem 1rem;
$message-radius: 5px;
$message-body-radius: $message-radius;