/* Colors */
$body-background-color: rgb(246,247,251);
$primary: rgb(85,153,153);
$text: rgb(32,27,33);

/* Fonts */
$title-family-sans-serif: "Averia Sans Libre", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
