#hero-title .hero-body {
  padding-top: 3rem;
}

#chat {
  margin-bottom: 4rem;

  @include tablet {
    margin-top: -6rem;
  }

  .messages {
    min-height: 15rem;
  }
}

#callout {
  background: url('../img/bgimg.jpg') center center;
  background-size: cover;

  .container {
    @include desktop {
      top: 7rem;
    }
  }
}

.background-white {
  background-color: $white;
}