@import "_defaults";
@import "styles/vendor/bulma/sass/utilities/_all";
@import "styles/vendor/bulma/sass/base/_all";
@import "styles/vendor/bulma/sass/elements/box";
@import "styles/vendor/bulma/sass/elements/button";
@import "styles/vendor/bulma/sass/elements/container";
@import "styles/vendor/bulma/sass/elements/content";
@import "styles/vendor/bulma/sass/elements/form";
@import "styles/vendor/bulma/sass/elements/title";
@import "styles/vendor/bulma/sass/components/message.scss";
@import "styles/vendor/bulma/sass/grid/columns";
@import "styles/vendor/bulma/sass/layout/hero";
@import "styles/vendor/bulma/sass/layout/section";
@import "layout";
@import "chat";


.title, .subtitle {
  font-family: $title-family-sans-serif;
}

.title {
  font-size: $size-1;
}

.subtitle {
  font-size: $size-4;
}

p {
  font-size: $size-5;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}

a:hover, a:active {
  background: $primary;
  color: $white;
}