/**
 * IE 8 and below transparent backgrounds.
 */

#main {
  background: url('../img/ie8-background.png') repeat;
  margin: 150px auto 0;
  max-width: 600px;
  padding: 15px;
  width: 45%;
}

#contact form input, #contact form textarea {
  background: url('../img/ie8-input.png') repeat;
  border: none;
  box-sizing: border-box;
  color: #212a2f;
  display: block;
  font-size: 0.85em;
  padding: 5px;
  width: 75%;
}

a {
  background: url('../img/ie8-input.png') repeat;
  color: #212a2f;
  text-decoration: none;
}

  a:hover {
    background: url('../img/ie8-input.png') repeat;
  }